# Log file
*.log

# Package Files #
*.zip
*.tar.gz
*.rar
*.txt
.idea/
target.nosync/

*.iml

*/.idea
*/.bmad-core
*/.claude
*/.bmad-infrastructure-devops
/m2-springboot-parent/m2-webapp-parent/m2-grpc-parent/pom.xml.versionsBackup
/m2-springboot-parent/m2-webapp-parent/m2-quic-parent/pom.xml.versionsBackup
/m2-springboot-parent/m2-webapp-parent/pom.xml.versionsBackup
/pom.xml.versionsBackup
